.form-container {
  border: none;
  border-bottom: 1px solid var(--secondary_color);
  padding: 40px 0;
}

label {
  margin-bottom: 10px;
}

.form-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.form-container label {
  margin-right: 20px;
  min-width: 100px;
  text-align: right;
}

.button {
  margin: 10px auto;
}

.medium {
  width: 200px;
}

.error {
  color: var(--error_color);
  margin-top: 0.5rem;
  margin-left: 1rem;
}
